@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: auto;
    max-width: 1440px;
    position: relative;
    font-family: "Roboto", sans-serif;
}

* {
    font-family: "Roboto", sans-serif;
}


.shadow-inner {
    box-shadow: -6px 0px 15px rgba(25, 25, 61, 0.08) inset;
}

.outer-shadow {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}